In [2]:
import pyautogui

print(pyautogui.position()) # 현재 커서 위치
pyautogui.moveTo(1000,500) # move to (1000, 500)
pyautogui.click(button='right') # 오른쪽 마우스 클릭
pyautogui.click(button='left') # 왼쪽 마우스 클릭

pyautogui.write('python') # write English
pyautogui.write('파이썬') # write Korean

Point(x=511, y=316)

In [24]:
import pyperclip

pyperclip.copy('text') # 클립보드에 'text' 를 복사
pyperclip.paste() # 클립보드에 저장되어 있는 텍스트를 붙여넣기

'text'

In [22]:
import os
import glob
import shutil
# 1. shutil은 파이썬의 표준 라이브러리로 파일 및 디렉토리 작업을 수행할 수 있는 라이브러리입니다.
# 2. shutil은 파일 복사, 이동, 삭제 등의 기능을 제공합니다.
# 3. shutil은 압축된 파일 및 디렉토리를 생성하거나 압축 해제할 수 있는 기능을 제공합니다.



print(os.getcwd()) # 현재 디렉토리

os.mkdir('new_dir')
os.mkdir('new_dir') # duplicated directory

os.chdir('new_dir') # 작업 디렉토리 변경
print(os.getcwd()) # 현재 디렉토리

os.chdir('../') # 작업 디렉토리 변경
print(os.getcwd()) # 현재 디렉토리

/Users/nossi/project/samsung-lecture-rpa/samsung-lecture-rpa/code

In [3]:
print(os.listdir("../directory1")) # directory1에 있는 모든 폴더 및 파일 리스트

['inner_directory', 'test1.txt', 'test2.txt', '1.test.txt', '2.test.txt']

In [23]:
shutil.move('../directory1/1.test.txt', '../directory1/inner_directory')

'../directory1/inner_directory/1.test.txt'

In [ ]:
glob.glob('*') # 길이와 상관없이 모든 문자열과 매칭
glob.glob('*.txt') # 확장자가 .txt인 모든 파일을 검색하기 위한 명령어
glob.glob('?') # 임의의 문자 하나와 매칭
glob.glob('[0-9]') # 대괄호 안에 있는 문자 중 하나와 정확히 한 글자와 매칭
glob.glob('**') # 현재 디렉토리를 포함하여 모든 하위 디렉토리를 매칭

In [17]:
from PIL import Image
img = Image.open('samsung.png')
print(img.format)

img.resize((500, 300)) # 이미지 크기 변경 (width = 500, height = 300)
img.crop((100,200)) # 이미지 자르기
img.transpose() # 이미지 상하좌우 반전

PNG

In [9]:
import pandas as pd

list = {
    '이름': ['김준형', '이지원', '김민지', '이은호', '박지호', '박지호'],
    '나이': [15, 25, 36, 34, 23, 23],
    '전공': ['컴공', '기계', '화학', '물리', '기계', '기계']
}
df = pd.DataFrame(list, index=['1번', '2번', '3번', '4번', '5번', '6번'])

print(df)
print(df.iloc[1,2]) # 1,2 의 데이터를가져온다.

print(df[df['전공'] == '기계'])
print(df[df['전공'] == '기계'].index[1])
print(df[df['전공'] == '기계'].iloc[1,1])

print(df['이름'].head(2))
print(df['이름'].tail(4))
print(df['이름'].head(4)[1])

print(df.loc['1번':'4번', '나이':'전공'])
print(df.loc['1번':'4번', '나이':'전공'].iloc[2,1])

print(df.sort_values(by='나이')) # '나이' column열을 기준으로 정렬

print(df)
print(df.drop_duplicates()) # 모든 열에대해 값이 중복인 행을 제거

df.fillna(0) # 결측값을 다른 값으로 채움

     이름  나이  전공
1번  김준형  15  컴공
2번  이지원  25  기계
3번  김민지  36  화학
4번  이은호  34  물리
5번  박지호  23  기계
6번  박지호  23  기계
기계
     이름  나이  전공
2번  이지원  25  기계
5번  박지호  23  기계
6번  박지호  23  기계
5번
23
1번    김준형
2번    이지원
Name: 이름, dtype: object
3번    김민지
4번    이은호
5번    박지호
6번    박지호
Name: 이름, dtype: object
이지원
    나이  전공
1번  15  컴공
2번  25  기계
3번  36  화학
4번  34  물리
화학
     이름  나이  전공
1번  김준형  15  컴공
5번  박지호  23  기계
6번  박지호  23  기계
2번  이지원  25  기계
4번  이은호  34  물리
3번  김민지  36  화학
     이름  나이  전공
1번  김준형  15  컴공
2번  이지원  25  기계
3번  김민지  36  화학
4번  이은호  34  물리
5번  박지호  23  기계
6번  박지호  23  기계
     이름  나이  전공
1번  김준형  15  컴공
2번  이지원  25  기계
3번  김민지  36  화학
4번  이은호  34  물리
5번  박지호  23  기계

     이름  나이  전공
1번  김준형  15  컴공
2번  이지원  25  기계
3번  김민지  36  화학
4번  이은호  34  물리
5번  박지호  23  기계
6번  박지호  23  기계

In [7]:
pd.read_csv('example.csv') # csv 파일 읽기

   1   2   3   4   5   6
0  7   8   9  10 NaN NaN

In [1]:
import xlwings as xw # 실제 Excel프로그램을 실행하여 작업하는 형태 => DRM 보안된 파일에 작업 가능하다.

wb = xw.Book()
sheet1 = wb.sheets['sheet1'] # 기존에 있던 'sheet1'이라는 시트에 접근
# print(sheet1.name) # sheet1 변수에 저장된 시트의 이름
# sheet1.name = 'changed_sheet' # sheet 이름 변경

In [11]:
sheet1.range('A1:B1').value = ['과목', '점수']
sheet1.range('A2:B4').value = [['수학', 97], ['과학', 86], ['영어', 80]]

sheet1.range('A5').value = "미술"
sheet1.range('B5').value = 99

sheet1.range('A6').options(transpose=True).value = ['사회', '음악']
sheet1.range('B6').options(transpose=True).value = [84, 78]


sheet1.range('B8').value = '=SUM(B2:B7)'
sheet1.range('B9').value = '=AVERAGE(B2:B7)'

print(sheet1.range('B8').value) # B5셀 가져오기
print(sheet1.range('B2').value) # B2셀 가져오기

print(sheet1.range('A1').end('right').column)
print(sheet1.range('A1').end('down').row)

sheet1.range('B2:B3').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter
print(xw.constants.HAlign.xlHAlignCenter)

524.0
97.0
2
7
-4108

In [4]:

wb.sheets.add('sheet2') # 새로운 시트 'new_sheet1'생성
wb.sheets.add('sheet3') # 새로운 시트 'new_sheet2'생성

In [5]:
sheets_list = wb.sheets
for sheet in sheets_list:
    print(sheet.name) # sheet의 이름 가져오기

sheet3
sheet2
Sheet1