# 파이썬 기초 2
### 1. 리스트
* 리스트의 정의
  * 여러 변수들을 일련변호로 저장
  * 파이썬에서 리스트는 대괄호 [ ]를 이용해서 만들 수 있음

In [ ]:
heights=[178.9, 173.5, 166.1, 164.3, 176.4]
heights

  * 항목들을 [ ] 안에 적어주고 변수에 저장하면 리스트 변수가 생성됨

In [ ]:
bts=['V', 'Junggkook', 'Jimin']

  * 빈 리스트도 만들 수 있으며, append 메소드를 사용하면 리스트에 항목을 추가할 수 있음

In [ ]:
bts=[]
bts.append("V")
bts

In [ ]:
bts.append("Junggkook")
bts.append("Jimin")
bts

In [ ]:
bts=['V', 'Jin', 'Suga', 'Junggkook']
bts=bts+['RM']   # 덧셈 연산자로 멤버 'RM'을 추가함
bts

In [ ]:
list(range(5))   # 0에서 5사이의 정수열을 생성(5는 포함안됨)

In [ ]:
list(range(0, 5))   # list(range(5))와 동일한 결과

In [ ]:
list(range(0, 5, 1))  # list(range(0, 5))와 동일한 결과

In [ ]:
list(range(0, 5, 2))  # 생성하는 값이 2씩 증가시킴

In [ ]:
list(range(2, 5,))   # 2에서 5-1까지 연속된 수 2, 3, 4을 생성

* 리스트 함수: 더하기
      * 덧셈 연산으로 다음과 같이 두 개의 리스트를 합칠 수 있음

In [ ]:
bts=['V', 'J-Hope']+['RM', 'Jungkook', 'Jin']
bts

  * 정수 리스트를 서로 더했을 때는 대응되는 원소끼리 더해지는 것이 아니라 리스트가 합쳐짐
    * 대응되는 원소끼리 더하려면 넘파이(NumPy)를 사용

In [ ]:
numbers=[10, 20, 30]+[40, 50, 60]
numbers

In [ ]:
import numpy as np
numbers=np.add([10, 20, 30],[40, 50, 60])
numbers

* 리스트 함수: 항목 포함여부 확인

In [ ]:
bts=['V', 'Jin', 'Suga', 'Junggkook', 'RM']
'V' in bts

In [ ]:
'V' not in bts

* 여러 타입의 데이터를 섞어서 리스트 저장
  * 필요에 따라서 하나의 리스트 안에 여러 가지 타입의 데이터를 섞어서 저장하는 것도 가능

In [ ]:
slist1=['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]
slist1

  * 리스트를 리스트 안에 포함시키는 것도 가능

In [ ]:
slist1=[['Kim', 178.9], ['Park', 173.5], ['Lee', 176.1]]
slist1

*  리스트 사용 가능한 함수
  * 리스트에 다음과 같은 수치값이 있을 경우 len(), max(), min(), sum() 등의 내장함수를 사용하여 편리하게 활용할 수 있음
  * len()은 리스트의 길이를 반환하며, max()는 리스트 항목중 최댓값, min()은 리스트 항목중 최솟값을 반환함

In [ ]:
n_list=[200, 700, 500, 300, 400]
len(n_list)

In [ ]:
max(n_list)

In [ ]:
min(n_list)

In [ ]:
sum(n_list)

* 리스트 항목 접근
  * 리스트에서 데이터를 추출하려면 인덱스index라는 정수를 사용함
  * 리스트의 첫 번째 데이터는 인덱스 0을, 두 번째 요소는 인덱스 1을 가지게 되며, 나머지 요소들도 유사하게 인덱스가 할당됨

In [ ]:
letters=['A', 'B', 'C', 'D', 'E', 'F']
letters[1]

In [ ]:
letters[2]

In [ ]:
letters[-1] # 리스트의 마지막 항목에 접근

* 슬라이싱
  * 리스트에서 여러 요소를 선택해서 새로운 리스트를 만들고 싶다면, 슬라이싱slicing이라고 하는 기능을 사용할 수 있음

In [ ]:
letters=['A', 'B', 'C', 'D', 'E', 'F']
letters[2:5]

In [ ]:
letters[3:]

In [ ]:
letters[:]

In [ ]:
letters[::2]

In [ ]:
letters[::-1]  # 뒤에서부터 앞으로 읽어오며 원소를 생성한다.

* 항목 값 변경
  * 리스트에 저장된 항목을 변경하려면, 원하는 항목을 인덱스를 이용하여 지정한 후에 할당연산자로 새 값을 할당하면 됨

In [ ]:
slist=['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]
slist[2:4]=['Paik', 180.0]
slist

In [ ]:
slist[3]=175.0  
slist

In [ ]:
slist.insert(4, "Hong")
slist.insert(5, 168.1)
slist

*  항목 삭제하기
  * 삭제를 위해서는 remove(), pop() 메소드 그리고 del 명령을 사용할 수 있음
    * remove() 메소드는 다음과 같이 리스트에서 지정된 항목을 삭제함

In [ ]:
bts=['V', 'J-Hope','Suga', 'Jungkook']
bts.remove('Jungkook')
bts

In [ ]:
if "Suga" in bts:
    bts.remove("Suga")

    * pop() 역시 리스트에서 항목을 삭제하는 역할을 하는데 remove()와는 달리 리스트의 마지막 항목을 삭제하여 그 항목 값을 반환함

In [ ]:
bts=['V', 'J-Hope','Suga', 'Jungkook']
last_member=bts.pop()   # 마지막 항목 'Jungkook'을 삭제하여 반환한다.
last_member             # 삭제된 항목을 출력하자

In [ ]:
bts                     # bts 리스트에 마지막 항목이 삭제되었는가 확인하자

    * del 명령어는 리스트의 메소드가 아니므로 주의를 기울여야 함
    * 이 명령어는 파이썬의 키워드인데 다음과 같이 인덱스를 사용하여 해당하는 항목을 메모리에서 삭제할 수도 있음

In [ ]:
bts=['V', 'J-Hope','Suga', 'Jungkook']
del bts[0]             # 리스트의 첫 항목을 삭제하는 명령어
bts

* 참조
  * alist라는 새로운 리스트를 만들면 파이썬은 컴퓨터 메모리에 리스트를 저장한 후에, 리스트의 주소를 alist 변수에 저장함

In [ ]:
alist=['Kim', 'Park', 'Lee', 'Hong']

  * 여기서 blist의 인덱스 1의 원소를 변경하였음에도, alist 인덱스 1의 원소도 바뀌어 있는 것을 알 수 있음

In [ ]:
blist=alist
blist[1]='Choi'   # blist의 두 번째 항목값을 변경함
alist

* 동일한 내용을 가지는 새로운 리스트 생성
  * 만약 동일한 내용을 가지는 새로운 리스트를 생성하고 싶은 경우에는, 단순히 등호를 써주면 안되고   'list()' 함수를 사용해야 함
  * list() 함수를 사용하면 원래 리스트의 복사본이 생성되며 blist는 이 복사본을 참조함

In [ ]:
alist=['Kim', 'Choi', 'Lee', 'Hong']
blist=list(alist)
id(alist)         # 교재의 값과 실행한 값은 다를 수 있다.

In [ ]:
id(blist)         # blist의 아이디는 alist의 아이디와 다를 것이다.

* 리스트 탐색
  * 특정 항목이 리스트의 어떤 인덱스에 있는지를 알려면 index()를 사용함

In [ ]:
bts=['V', 'J-Hope','Suga', 'Jungkook']
bts.index("Suga")

  * 만약 탐색하고자 하는 항목이 리스트에 없다면 오류가 발생 
  * 따라서 탐색하기 전에 in 연산자를 이용하여 리스트 안에 항목이 있는지부터 확인하는 편이 안전함

In [ ]:
if "Suga" in bts:
    print(bts.index("Suga"))

* 리스트 탐색
  * 반복문을 활용하면 리스트의 모든 항목을 한 번씩 방문하여 출력할 수 있음

In [ ]:
bts=['V', 'J-Hope','Suga', 'Jungkook']
for member in bts:
    print(member)

* 리스트 sort()
  * 정렬sorting이란 리스트 안의 항목들을 크기 순으로 나열하는 것
  * 정렬을 위해서는 리스트의 sort()메소드를 사용하면 됨

In [ ]:
numbers=[9, 6, 7, 1, 8, 4, 5, 3, 2]
numbers.sort()
print(numbers)

  * 리스트 안에 들어 있는 항목들이 문자열일 경우 사전 순서대로 정렬

In [ ]:
bts=['V', 'J-Hope','Suga', 'Jungkook']
bts.sort()     # bts 리스트를 알파벳 순으로 정렬
print(bts)

  * 리스트를 역으로 정렬하고 싶으면 sorted()를 호출할 때, reverse=True을 붙임

In [ ]:
numbers.sort(reverse=True)
print(numbers)

In [ ]:
numbers=[9, 6, 7, 1, 8, 4, 5, 3, 2]
new_list=sorted(numbers)
print(new_list)     # numbers 리스트를 항목의 크기 순으로 정렬

In [ ]:
print(numbers)     # sorted() 함수는 정렬한 결과를 반환하므로 원래 리스트에는 변화가 없음

In [ ]:
numbers=[9, 6, 7, 1, 8, 4, 5, 3, 2]
new_list=sorted(numbers, reverse=True)
print(new_list)

* 리스트 함축
  * 리스트 함축 표현을 사용하면 입력 리스트의 각 항목을 하나하나 방문하며 지정된 연산을 하고, 연산의 결과로 생성된 항목값을 가지는 리스트를 생성함

In [ ]:
[x for x in range(10)]   # 0에서 9까지 숫자를 포함하는 리스트

In [ ]:
[x*x for x in range(10)]   # 0에서 9까지 숫자의 제곱합

In [ ]:
st='Hello World'
[x.upper() for x in st]     # 문자열 각각에 대해 upper() 메소드 적용

In [ ]:
s=[]
for x in [1, 2, 3, 4, 5]:
    s.append(x**2)

  * 리스트 함축에는 if를 사용하여 조건이 추가될 수 있음
    * 예를 들어서 0부터 9 사이의 정수 중에서 짝수의 집합을 리스트 함축으로 표현하면 다음과 같음

In [ ]:
[x for x in range(10) if x%2==0]

In [ ]:
[x**2 for x in range(10) if x%2==0] # 출력식에 제곱을 할 수 있다.

    * 2개의 for loop 로 구성된 리스트 만들기

In [ ]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4]]

In [ ]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x!=y]

### 2. 튜플
* 튜플은 값을 고칠 수 없는 자료형
  * 튜플은 ( ) 와 같이 정의

In [ ]:
numbers=(1, 2, 3, 4, 5)
numbers

  * 튜플도 시퀀스의 일종이기 때문에 인덱싱과 슬라이싱은 문자열이나 리스트와 동일하게 동작함
  * 또한 튜플간의 결합연산인 +와 반복연산자 *도 사용할 수 있음

In [ ]:
t1=(1, 2, 3, 4, 5)
t1[0]       # 튜플의 인데싱-리스트 인덱싱과 동일한 방식

In [ ]:
t1[1:4]     # 튜플의 슬라이싱 결과로 튜플을 반환함

In [ ]:
t2=t1+t1    # 튜플의 결합 연산
t2

* 값 변경시 유용하게 사용

In [ ]:
a, b=1,2
b, a=a, b
a

In [ ]:
b

* count 메서드

In [ ]:
a=(1, 2, 2, 2, 3, 4, 2)
a.count(2)

### 3. 딕셔너리
* 딕셔너리의 개념
  * 딕셔너리에는 값value과 관련된 키key가 있음
* 딕셔너리 정의
  * 공백 딕셔너리는 중괄호 { }로 생성
    * (참고) 공백 리스트는 대괄호 [ ]로 생성
  * 딕셔너리를 활용하여 전화번호부 만들기

In [ ]:
phone_book={ }     # 공백 딕셔너리를 생성
phone_book["홍길동"]="010-1234-5678"

  * phone_book 딕셔너리를 출력하면 키가 먼저 표시되고 콜론 다음에 값이 출력됨

In [ ]:
print(phone_book)

* 딕셔너리 정의
  * 이 딕셔너리에 몇 개의 다른 전화번호를 추가해서 출력해보면 다음과 같음
    * 딕셔너리의 항목item이 쉼표로 구분되어 출력됨

In [ ]:
phone_book["강감찬"]="010-1234-5678"
phone_book["이순신"]="010-1234-5678"
print(phone_book)

  *  리스트와 마찬가지로 딕셔너리에는 어떤 유형의 값도 저장할 수 있음

In [ ]:
person_dic={'Name': '홍길동', 'Age': 27, 'Class': '초급'}
print(person_dic['Name'])   # 딕셔너리의 'Name'이라는 키로 값을 조회함 
print(person_dic['Age'])    # 딕셔너리의 'Age'이라는 키로 값을 조화함

* 딕셔너리 기능
  * 딕셔너리에서 가장 중요한 연산은 키를 가지고 연관된 값을 찾는 것
  * 주소록이 있을 경우 사람 이름을 가지고 전화번호를 찾을 수 있어야 할 것임

In [ ]:
print(phone_book["강감찬"])

  * 리스트에서는 인덱스를 가지고 항목을 찾을 수 있지만 딕셔너리에서는 키가 있어야 값을 찾을 수 있음
    * 딕셔너리에서 사용되는 모든 키를 출력하려면 다음과 같이 keys()라는 메소드를 사용

In [ ]:
phone_book.keys()

  * 딕셔너리에서 사용되는 모든 값을 출력하려면 values()를 사용함

In [ ]:
phone_book.values()

  * 딕셔너리 내부의 모든 값을 출력하려면 items()를 사용할 수도 있음
  * for문에서 phone_book.items() 함수를 호출하면 (키, 값) 튜플이 반환되므로 아래처럼 활용할 수 있음

In [ ]:
phone_book.items()

In [ ]:
for name, phone_num in phone_book.items():
    print(name, ':', phone_num)

  * keys() 메소드를 활용해서도 동일한 결과를 얻을 수 있음
    * keys() 메소드는 딕셔너리에 있는 키 항목을 시퀀스로 반환

In [ ]:
for key in phone_book.keys():
    print(key, ':', phone_book[key])

* 딕셔너리 항목의 정렬과 삭제
  * sorted() 함수는 phone_book.item()와 같이 키, 값의 튜플 쌍을 받아 이를 정렬할 수 있음

In [ ]:
sorted(phone_book)    # 딕셔너리를 키를 기준으로 정렬하며 리스트를 변환

In [ ]:
sorted_phone_book=sorted(phone_book.items(), key=lambda x: x[0])  
print(sorted_phone_book)

    * 람다(lambda) 표현식은 x를 인자로 받아 x의 첫 항목인 x[0]를 반환하는 기능을 함
    * x[0] -> 첫 번째 항목 기준으로 정렬, x[1] --> 두 번째 항목 기준으로 정렬
  * 만일 딕셔너리의 항목을 삭제하려면 다음과 같이 del을 사용함

In [ ]:
del phone_book["홍길동"]     # "홍길동" 키를 이용하여 딕셔너리의 한 항목 삭제
print(phone_book)

* 딕셔너리 관련 메소드
  * keys() : 딕셔너리 내의 모든 키를 반환한다.
  * values() : 딕셔너리 내의 모든 값을 반환한다. 
  * items() : 딕셔너리 내의 모든 항목을 [키]:[값] 쌍으로 반환한다.
  * get(key) : 키에 대한 값을 반환한다. 키가 없으면 None을 반환한다.
  * pop(key) : 키에 대한 값을 반환하고, 그 항목을 삭제한다. 키가 없으면 KeyError 예외를 발생시킨다.
  * popitem() : 제일 마지막ㄷ에 입력된 항목을 반환하고 그 항목을 삭제한다.
  * clear() : 딕셔너리 내의 모든 항목을 삭제한다.

* 람다함수는 이름이 없는 함수 
  * 두 수를 입력받아 그 합을 반환하는 익명의 함수 lambda x, y : x+y는 다음과 같이 호출할 수 있음

In [ ]:
print('100과 200의 합 :', (lambda x, y: x+y)(100, 200))   # 100, 200이 람다 함수의 인자

  * 만일 특정한 튜플에서 첫 항목만을 추출하는 람다 함수를 정의하려면 다음과 같이 할 수 있음

In [ ]:
t=(100, 200, 300)
(lambda x: x[0])(t)     # t를 인자로 받아서 그 첫 항목 t[0]을 변환한다.

In [ ]:
(lambda x: x[1])(t)     # t를 인자로 받아서 그 두번째 항목 t[1]을 변환한다.

### 3. 집합
* 집합 생성 
  * 파이썬에서 사용하는 집합set 순서가 없는 자료형

In [ ]:
numbers={2, 1, 3}     # 숫자 3개로 이루어진 집합 자료형
numbers

    * 리스트로부터 생성

In [ ]:
set([1, 2, 3, 1, 2])     # 리스트로부터 집합을 생성함

    * 문자열로부터 생성

In [ ]:
set("abcdefa")       # 문자열도 시퀀스형이라서 집단형으로 변환이 가능하다.

* 집합 항목 접근 
  * in 연산자 사용

In [ ]:
numbers={2, 1, 3}    
if 1 in numbers: # 1이라는 항목이 numbㄷrs 집단에 있는가 검사
    print("집합 안에 1이 있습니다.")

  * 인덱스로는 접근할 수 없음
  * For 반복문으로부터 접근 가능

In [ ]:
numbers={2, 1, 3}    
for x in numbers: 
    print(x, end=" ")

  * add() 메소드

In [ ]:
numbers={2, 1, 3}  
numbers.add(4)     # numbers 집합에 원소 4를 추가
numbers

  * remove() 메소드

In [ ]:
numbers.remove(4)    # numbers 집합에 원소 4를 삭제
numbers

  * 비교 연산

In [ ]:
A={1, 2, 3}
B={1, 2, 3}
A==B          # A가 B와 같은지 검사

  * 진부분집합(<), 부분집합(<=)

In [ ]:
A={1, 2, 3, 4, 5}
B={1, 2, 3}
B < A         # A가 B의 진부분 집합인지 검사

* all(), any() 함수 
  * all() 함수 : 모두 True 인가?
  * any() 함수 : 0이 있는가?

In [ ]:
a_set={1, 0, 2, 3, 3}
all(a_set)     # a_set이 모두 True인가를 검사한다.

In [ ]:
any(a_set)     # a_set에 0이 있는 가를 검사한다.

In [1]:
print(any([False, False, False]))

print(any([False, True, False]))

print(all([False, True, False]))

print(all([True, True, True]))

False
True
False
True