In [1]:
import pandas as pd
df = pd.read_excel('member.xlsx', index_col='번호')
df

     이름  출생연도 출생지  담당파트  체중
번호
1번    진  1992  과천  서브보컬  61
2번    뷔  1995  대구  서브보컬  63
3번   정국  1997  부산  메인보컬  66
4번   슈가  1993  대구  리드래퍼  57
5번  제이홉  1994  광주  메인댄서  59
6번   RM  1994  서울    리더  70
7번   지민  1995  부산  메인댄서  58

In [2]:
df[df['출생연도'] >= 1994]

     이름  출생연도 출생지  담당파트  체중
번호
2번    뷔  1995  대구  서브보컬  63
3번   정국  1997  부산  메인보컬  66
5번  제이홉  1994  광주  메인댄서  59
6번   RM  1994  서울    리더  70
7번   지민  1995  부산  메인댄서  58

In [13]:
# 담당파트가 메인댄서인 가수의 이름?
df[df['담당파트'] == '메인댄서']['이름']

번호
5번    제이홉
7번     지민
Name: 이름, dtype: object