In [1]:
# (중요) xlwings로 데이터 프레임 만드는 법
import xlwings as xw
import pandas as pd

wb = xw.Book('onlinesale_data/11번가.xlsx')
ws = wb.sheets['data']
df1 = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
df1

        제품명        가격   수량         합계
0   게이밍 마우스   40000.0  3.0   120000.0
1    마우스 패드   20000.0  2.0    40000.0
2   기계식 키보드  120000.0  1.0   120000.0
3   게이밍 마우스   40000.0  5.0   200000.0
4  32인치 모니터  350000.0  5.0  1750000.0
5    마우스 패드   20000.0  1.0    20000.0
6   게이밍 마우스   40000.0  1.0    40000.0
7  32인치 모니터  350000.0  3.0  1050000.0
8   게이밍 마우스   40000.0  1.0    40000.0
9   게이밍 마우스   40000.0  4.0   160000.0

In [2]:
# 쿠팡.xlsx의 데이터를 동일한 방법으로 df2 변수에 저장
wb = xw.Book('onlinesale_data/쿠팡.xlsx')
ws = wb.sheets['data']
df2 = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
df2

       제품명        가격   수량        합계
0  기계식 키보드  120000.0  2.0  240000.0
1  게이밍 마우스   40000.0  4.0  160000.0
2  게이밍 마우스   40000.0  4.0  160000.0
3  기계식 키보드  120000.0  1.0  120000.0
4  기계식 키보드  120000.0  1.0  120000.0

In [4]:
total_df = pd.concat([df1, df2], ignore_index=True) # axis=0 기본값
total_df

         제품명        가격   수량         합계
0    게이밍 마우스   40000.0  3.0   120000.0
1     마우스 패드   20000.0  2.0    40000.0
2    기계식 키보드  120000.0  1.0   120000.0
3    게이밍 마우스   40000.0  5.0   200000.0
4   32인치 모니터  350000.0  5.0  1750000.0
5     마우스 패드   20000.0  1.0    20000.0
6    게이밍 마우스   40000.0  1.0    40000.0
7   32인치 모니터  350000.0  3.0  1050000.0
8    게이밍 마우스   40000.0  1.0    40000.0
9    게이밍 마우스   40000.0  4.0   160000.0
10   기계식 키보드  120000.0  2.0   240000.0
11   게이밍 마우스   40000.0  4.0   160000.0
12   게이밍 마우스   40000.0  4.0   160000.0
13   기계식 키보드  120000.0  1.0   120000.0
14   기계식 키보드  120000.0  1.0   120000.0

In [16]:
import os
import xlwings as xw
import pandas as pd
# 데이터 폴더 경로
folder_path = r'C:\samsung_auto2\02.엑셀자동화\02.xlwings\onlinesale_data'

file_list = os.listdir(folder_path)

# 빈 데이터 프레임 생성
total_df = pd.DataFrame()
for file in file_list:
    excel_path = os.path.join(folder_path, file)
    
    # 엑셀 불러오기
    wb = xw.Book(excel_path)

    # 시트 선택
    ws = wb.sheets['data']

    # A1부터 표 데이터를 읽어 데이터프레임으로 변경
    df = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
    
    # 데이터 프레임 이어주기
    total_df = pd.concat([total_df, df], ignore_index=True)

    # 엑셀 닫기
    xw.apps.active.quit()

# 합계 파일 저장
total_df.to_excel(f'{folder_path}/total.xlsx', index=False)

In [18]:
# 자동 열 너비 맞추기
wb = xw.Book('onlinesale_data/total.xlsx')
ws = wb.sheets['Sheet1']
ws.autofit(axis='columns') # myrange.columns.autofit()
wb.save('onlinesale_data/total.xlsx')
xw.apps.active.quit()