In [1]:
import xlwings as xw
import pandas as pd

# 엑셀 불러오기
wb = xw.Book('onlinesale_data/total.xlsx')

# 시트 선택
ws = wb.sheets['Sheet1']

# A1부터 표데이터 읽어 df로 변경
df = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
df

         제품명        가격   수량         합계
0    게이밍 마우스   40000.0  3.0   120000.0
1     마우스 패드   20000.0  2.0    40000.0
2    기계식 키보드  120000.0  1.0   120000.0
3    게이밍 마우스   40000.0  5.0   200000.0
4   32인치 모니터  350000.0  5.0  1750000.0
5     마우스 패드   20000.0  1.0    20000.0
6    게이밍 마우스   40000.0  1.0    40000.0
7   32인치 모니터  350000.0  3.0  1050000.0
8    게이밍 마우스   40000.0  1.0    40000.0
9    게이밍 마우스   40000.0  4.0   160000.0
10    마우스 패드   20000.0  3.0    60000.0
11   기계식 키보드  120000.0  5.0   600000.0
12  32인치 모니터  350000.0  3.0  1050000.0
13  32인치 모니터  350000.0  4.0  1400000.0
14    마우스 패드   20000.0  3.0    60000.0
15    마우스 패드   20000.0  2.0    40000.0
16   기계식 키보드  120000.0  2.0   240000.0
17   게이밍 마우스   40000.0  4.0   160000.0
18   게이밍 마우스   40000.0  4.0   160000.0
19   기계식 키보드  120000.0  1.0   120000.0
20   기계식 키보드  120000.0  1.0   120000.0

In [2]:
df[df['제품명'] == '마우스 패드']

       제품명       가격   수량       합계
1   마우스 패드  20000.0  2.0  40000.0
5   마우스 패드  20000.0  1.0  20000.0
10  마우스 패드  20000.0  3.0  60000.0
14  마우스 패드  20000.0  3.0  60000.0
15  마우스 패드  20000.0  2.0  40000.0

In [4]:
ws_new = wb.sheets.add('게이밍 마우스')
ws_new.range('A1').options(index=False).value = df[df['제품명'] == '게이밍 마우스']

In [6]:
# 1. 제품명 종류 확인하기 (unique)
names = df['제품명'].unique()
names

array(['게이밍 마우스', '마우스 패드', '기계식 키보드', '32인치 모니터'], dtype=object)

In [7]:
# 2. 시트를 만들고 데이터 복사
for name in names:
    # 시트 추가
    ws_new = wb.sheets.add(name)

    # 데이터 복사
    ws_new.range('A1').options(index=False).value = df[df['제품명'] == name]

In [8]:
wb.save('onlinesale_data/total.xlsx')
xw.apps.active.quit()